
<div class="container">
<h1>This are all the restaurants:</h1>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="restlist">
          <% @restaurants.each do |restaurant| %>
            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <div class="card-description">
                  <%= restaurant.name %>
                    <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
                </div>          
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
